
<div class="row ">
<div class="col-xs-12">
<img src="/images/crosscreate.png" class="crosstwo"/>
</div>
</div>

<div class="content ">
<div class="row headerow">
<div class="col-md-12 well">

<h2 class="headermain"><span class="headermainone">TalkReserve </span>will create an efficient process to serve a large scale of customers of the New Life Resource Cafe and the 2000+ members of New Life Christain Fellowship Church. The app holds an archive of recorded sermons preached from 2008 to 2014, total of 1,165.  The Cafe customers will be able to quickly place a audio sermon reservation at the customer service desk. In addition members of New Life Christian Fellowship church will be able to sign up for open volunteer positions within various ministries in the church.</h2>
</div>
</div>
</div>

<div class="content well">

<div class="col-md-12 ">
<h2 class="headermainone">CATCH UP ON RECENT SERMONS</h2>
<h3 class="headermain">Lessons that will motivate and encourage you...</h3>
</div>

<div class="row rowinfo">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../images/CAROUSALIMAGEONE.png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="../images/CAROUSALIMAGETWO.png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="../images/CAROUSALIMAGETHREE.png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
</div>


   <section >
   <h2 class="headermainthree well">New Life Resource Cafe Staff</h2>
        <ul class="ch-grid">
          <li class="imageone">
            <div class="ch-item ch-img-1">        
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <div class="ch-info-back">
                    <h3>ROBIN</h3>
                    <p> robin@newlife.com </p>
                  </div>  
                </div>
              </div>
            </div>
          </li>

          <li class="imagetwo">
            <div class="ch-item ch-img-2">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-2"></div>
                  <div class="ch-info-back">
                    <h3>VENIECE</h3>
                    <p> veniece@newlife.com </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="imagethree">
            <div class="ch-item ch-img-3">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-3"></div>
                  <div class="ch-info-back">
                    <h3>CHINENYEM</h3>
                    <p> chinenyem@newlife.com </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        
      </section>


<div class="row staffleaders ">

   <div class="col-md-4 ">
    
     <h4 class="headtitle">ROBIN</h4>
     <p class="staffcaption well">Robin literally makes the world go around. Her level of excellence, integrity, and confidence provides a strong base for the New Life Retail Store and DEM (Dexter Easley Ministries). She creates the standard of processes and implements the steps.</p> 
   
   </div>
  <div class="col-md-4 ">
    
    
     <h4 class="headtitle">VENICE</h4>
     <p class="staffcaption well">This woman means business! She is the leader of the DEM ministries. Hard copy media such as dvds and cds are created by her. In addition, she loves to give hugs.</p>
  </div>
  <div class="col-md-4 ">
   
    
     <h4 class="headtitle">CHINENYEM</h4>
     <p class="staffcaption well">Chinenyem roles up her sleeves and goes in for the long haul. You will see her running around with products in her hands, or graciously assisting a visitor.  If you ever need an uplifting smile, go to her.</p>
     
  </div>
</div>

<section >
  <!--  <h2 class="headermainthree well">New Life Resource Cafe Staff</h2> -->
        <ul class="ch-grid">
          <li class="imageone">
            <div class="ch-item ch-img-1">        
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <div class="ch-info-back">
                    <h3>JEANE</h3>
                    <p> jeane@newlife.com </p>
                  </div>  
                </div>
              </div>
            </div>
          </li>

          <li class="imagetwo">
            <div class="ch-item ch-img-2">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-2"></div>
                  <div class="ch-info-back">
                    <h3>TAMEKA</h3>
                    <p> tameka@newlife.com </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="imagethree">
            <div class="ch-item ch-img-3">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-3"></div>
                  <div class="ch-info-back">
                    <h3>MAKISSA</h3>
                    <p> makissa@newlife.com </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        
      </section>


<div class="row staffleaders ">

   <div class="col-md-4 ">
    
     <h4 class="headtitle">JEANE</h4>
     <p class="staffcaption well">Jeance literally makes the world go around. Her level of excellence, integrity, and confidence provides a strong base for the New Life Retail Store and DEM (Dexter Easley Ministries). She creates the standard of processes and implements the steps.</p> 
   
   </div>
  <div class="col-md-4 ">
    
    
     <h4 class="headtitle">TAMEKA</h4>
     <p class="staffcaption well">This woman means business! She is the leader of the DEM ministries. Hard copy media such as dvds and cds are created by her. In addition, she loves to give hugs.</p>
  </div>
  <div class="col-md-4 ">
   
    
     <h4 class="headtitle">MAKISSA</h4>
     <p class="staffcaption well">Makissa roles up her sleeves and goes in for the long haul. You will see her running around with products in her hands, or graciously assisting a visitor.  If you ever need an uplifting smile, go to her.</p>
     
  </div>
</div>
<section >
  <!--  <h2 class="headermainthree well">New Life Resource Cafe Staff</h2> -->
        <ul class="ch-grid">
          <li class="imageone">
            <div class="ch-item ch-img-1">        
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <div class="ch-info-back">
                    <h3>SHERRY</h3>
                    <p> sherry@newlife.com </p>
                  </div>  
                </div>
              </div>
            </div>
          </li>

          <li class="imagetwo">
            <div class="ch-item ch-img-2">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-2"></div>
                  <div class="ch-info-back">
                    <h3>CAROL</h3>
                    <p> carol@newlife.com </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="imagethree">
            <div class="ch-item ch-img-3">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-3"></div>
                  <div class="ch-info-back">
                    <h3>TAI</h3>
                    <p> tai@newlife.com </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        
      </section>


<div class="row staffleaders ">

   <div class="col-md-4 ">
    
     <h4 class="headtitle">SHERRY</h4>
     <p class="staffcaption well">Sherry literally makes the world go around. Her level of excellence, integrity, and confidence provides a strong base for the New Life Retail Store and DEM (Dexter Easley Ministries). She creates the standard of processes and implements the steps.</p> 
   
   </div>
  <div class="col-md-4 ">
    
    
     <h4 class="headtitle">CAROL</h4>
     <p class="staffcaption well">This woman means business! She is the leader of the DEM ministries. Hard copy media such as dvds and cds are created by her. In addition, she loves to give hugs.</p>
  </div>
  <div class="col-md-4 ">
   
    
     <h4 class="headtitle">TAI</h4>
     <p class="staffcaption well">Tai roles up her sleeves and goes in for the long haul. You will see her running around with products in her hands, or graciously assisting a visitor.  If you ever need an uplifting smile, go to her.</p>
     
  </div>
</div>








